[Unit]
Description=geekshop daemon
After=network.target

[Service]
User=truart
Group=www-data
WorkingDirectory=/home/truart/geekshop
ExecStart=/usr/bin/gunicorn3 --access-logfile server.logs --workers 2 --bind unix:/home/truart/geekshop/geekshop.sock geekshop.wsgi

[Install]
WantedBy=multi-user.target